<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Space Mono -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">

  <!-- Standard favicon -->
  <link rel="icon" href="favicon.ico" type="image/x-icon">

  <!-- PNG icons with specific sizes -->
  <link rel="icon" href="favicon-32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="favicon-57.png" sizes="57x57" type="image/png">
  <link rel="icon" href="favicon-72.png" sizes="72x72" type="image/png">
  <link rel="icon" href="favicon-96.png" sizes="96x96" type="image/png">
  <link rel="icon" href="favicon-120.png" sizes="120x120" type="image/png">
  <link rel="icon" href="favicon-128.png" sizes="128x128" type="image/png">
  <link rel="icon" href="favicon-144.png" sizes="144x144" type="image/png">
  <link rel="icon" href="favicon-152.png" sizes="152x152" type="image/png">
  <link rel="icon" href="favicon-195.png" sizes="195x195" type="image/png">
  <link rel="icon" href="favicon-228.png" sizes="228x228" type="image/png">

  <!-- Apple Touch Icons -->
  <link rel="apple-touch-icon" href="favicon-57.png" sizes="57x57">
  <link rel="apple-touch-icon" href="favicon-72.png" sizes="72x72">
  <link rel="apple-touch-icon" href="favicon-114.png" sizes="114x114">
  <link rel="apple-touch-icon" href="favicon-144.png" sizes="144x144">
  <link rel="apple-touch-icon" href="favicon-180.png" sizes="180x180">

  <title>Sam's Status Page.</title>
  {{ styles }}
</head>

<body>
  {{ content }}
</body>

</html>
