html {
  background-color: #f6f0f9;
  color: #270722;
  font-family: "Space Mono", "Menlo", monospace;
  font-size: 12px;
}

h1, h2, h3, p {
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 15px;
}
h2 {
  font-size: 14px;
}
h3 {
  font-size: 13px;
}

header img {
  width: 32px;
  margin-left: auto;
  margin-right: auto;
}

header {
  text-align: center;
}

main, header, footer {
  margin-top: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-bottom: 20px;
}

main ul li {
  list-style: none;
}

main ul {
  padding-left: 0;
}

.uptime-bar {
  display: flex;
  flex-direction: row;
  height: 20px;
}

.bar-segment {
  height: 20px;
  display: block;
}

.bar-segment-up {
  background-color: #45503b;
}

.bar-segment-down {
  background-color: #ff7369;
}

header.big {
  width: 100%;
  max-width: 100%;
  margin: 0;
  max-height: 80vh;
}

header.big h1 {
  font-size: calc(min(80vh, 20vw));
  line-height: 50vh;
}

header.big p {
  font-size: calc(min(20vh, 5vw));
  line-height: 20vh;
}
